{% extends 'base.html.twig' %}

{% block title %}{{ h1_title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="col-xs-12">
                    <h1>{{ h1_title }}</h1>
                </div>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                    {{ form_row(form.firstname, {
                                                'label' : 'Prénom',
                                                'attr' :{
                                                    'placeholder' : 'Prénom'
                                                }
                                            }) }}
                    {{ form_row(form.lastname, {
                                                'label' : 'Nom',
                                                'attr' :{
                                                    'placeholder' : 'Nom'
                                                }
                                            }) }}
                    {{ form_row(form.username, {
                                                'label' : 'Username',
                                                'attr' :{
                                                    'placeholder' : 'Username'
                                                }
                                            }) }}
                    {{ form_row(form.email, {
                                                'label' : 'Email',
                                                'attr' :{
                                                    'placeholder' : 'Email'
                                                }
                                            }) }}
                    {{ form_row(form.password.first, {
                                                'label' : 'Mot de passe',
                                                'attr' :{
                                                    'placeholder' : 'Mot de passe'
                                                }
                                            }) }}
                    {{ form_row(form.password.second, {
                                                'label' : 'Confirmation du mot de passe',
                                                'attr' :{
                                                    'placeholder' : 'Mot de passe'
                                                }
                                            }) }}
                    {{ form_row(form.is_agree, {
                                                'label' : 'Agreement'
                                            }) }}
                    <button type="submit" class="btn btn-primary">S'inscrire !</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}